<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Raport od początku roku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 45px; alignment: center"/>
<div class="container" align="center">
    <table class="table table-bordered">
        <thead align="center">
        <tr>
            <th rowspan="2">lp.</th>
            <th rowspan="2">Nazwa polska</th>
            <th rowspan="2">Nazwa łacińska</th>
            <th rowspan="2">Łącznie przyjęto</th>
            <th colspan="3">z tego:</th>
        </tr>
        <tr>
        <th>wypuszczono</th>
        <th>padło</th>
        <th>przekazano do innych ośrodków</th>
        </tr>
        </thead>
        <tbody align="center">
        <tr th:each="element : ${list}">
            <th scope="col" th:text="${element.key}"></th>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>