<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <title>Ratujmy Ptaki</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 45px; alignment: left"/>
        <div class="navbar-header">
            <a class="navbar-brand" href="/ratujmy_ptaki" >Ratujmy Ptaki</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a>Zarządzanie</a></li>
            <li><a>Zwierzęta</a></li>
            <li><a>Wizyty weterynaryjne</a></li>
            <li><a>Weterynarze</a></li>
            <li><a>Ośrodki</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search" th:action="@{/login}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Nazwa użytkownika"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Hasło"/>
            </div>
            <button type="submit" class="btn btn-default">Zaloguj</button>
            <a th:href="@{/view_mode}" style="color: green" class="btn btn-default">Kontynuuj bez logowania</a>
        </form>
    </div>
</nav>
<div style="text-align: center; color: red; font-size: 44px">
    <p>nie masz uprawnień</p>
</div>
<div style="text-align: center">
    <img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 450px; alignment: left"/><br/>
    <p>Witamy w programie zarządzającym danymi fundacji "Ratujmy Ptaki"</p><br/>
    <p style="alignment: bottom">&copy; 2018, pwcyga@gmail.com</p>
</div>
</body>
</html>