<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:default="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj gabinet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 45px; alignment: left"/>
        <div class="navbar-header">
            <a class="navbar-brand" href="/ratujmy_ptaki" >Ratujmy Ptaki</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/manage}">Zarządzanie</a></li>
            <li><a th:href="@{/list_animals}">Zwierzęta</a></li>
            <li><a th:href="@{/vet_visits}">Wizyty weterynaryjne</a></li>
            <li><a th:href="@{/vet_list}">Weterynarze</a></li>
            <li><a th:href="@{/rehab_center_list}">Ośrodki</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-default">Wyloguj</button>
        </form>
    </div>
</nav>
<div class="container">
    <form class="form-inline" th:action="@{/add_center}" method="post" th:object="${newCenter}" style="text-align: center">
        <div class="form-group">
            <textarea class="form-control" rows="1" th:field="*{name}" placeholder="Wpisz nazwę ośrodka" /><br/><br/>
            <textarea class="form-control" rows="5" id="notes" placeholder="Wprowadź dane ośrodka" th:field="*{fullData}"></textarea>
            <br/>
            <button type="submit" class="btn btn-default">Dodaj</button>
        </div>
    </form>
</div>
</body>
</html>