<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj wizytę</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 45px; alignment: left"/>
        <div class="navbar-header">
            <a class="navbar-brand" href="/ratujmy_ptaki" >Ratujmy Ptaki</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/manage}">Zarządzanie</a></li>
            <li><a th:href="@{/list_animals}">Zwierzęta</a></li>
            <li><a th:href="@{/vet_visits}">Wizyty weterynaryjne</a></li>
            <li><a th:href="@{/vet_list}">Weterynarze</a></li>
            <li><a th:href="@{/rehab_center_list}">Ośrodki</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-default">Wyloguj</button>
        </form>
    </div>
</nav>
<div class="container">
    <form class="form-inline" th:action="@{/add_visit_by_animal/{animalId}(animalId=${animalId})}" method="post" th:object="${newVisit}" style="text-align: center">
                <p th:text="${animal.kind.kindPolish}"/>
                    <p>
                        Przyjęty w dniu:
                    </p>
                <p th:text="${animal.timeArrived+''}"/>
            <span>
            <label for="date">wizyta weterynaryjna dnia:</label>
            <input class="form-control" id="date" name="date" type="date" autocomplete="off"/>
            <br/>
        </span>
        <div style="margin-top: 25px; margin-bottom: 25px">
            <label for="vetVisit">
                w gabinecie:
            </label>
            <select class="form-control" id="vetVisit" th:field="*{vetId}">
                <option th:each="veterinarian : ${list}" th:text="${veterinarian.name}" th:value="${veterinarian.vetId}">
                </option>
            </select>
            </div>
        <div>
            <label>
                cena wizyty w PLN:
            </label>
            <input class="form-control" rows="1" type="number" th:field="*{price}" placeholder="Wpisz koszt wizyty" />
        </div>
        <div>
            <textarea class="form-control" rows="5" id="notes" placeholder="Tutaj wpisz dodatkowe informacje"
                      th:field="*{note}" style="margin-top: 25px; width: 450px">
            </textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-default" style="width: 450px; margin-top: 25px; font-weight: bold">
                Zatwierdź
            </button>
        </div>
    </form>
</div>
</body>
</html>