<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Przekazany do innego ośrodka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 45px; alignment: left"/>
        <div class="navbar-header">
            <a class="navbar-brand" href="/ratujmy_ptaki" >Ratujmy Ptaki</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/manage}">Zarządzanie</a></li>
            <li><a th:href="@{/list_animals}">Zwierzęta</a></li>
            <li><a th:href="@{/vet_visits}">Wizyty weterynaryjne</a></li>
            <li><a th:href="@{/vet_list}">Weterynarze</a></li>
            <li><a th:href="@{/rehab_center_list}">Ośrodki</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-default">Wyloguj</button>
        </form>
    </div>
</nav>
<form style="text-align: center" class="form-inline" th:action="@{/discharged_to/{animalId}(animalId=${animal.animalId})}" method="post" th:object="${animal}">
    <p th:text="${animal.kind.kindPolish}"/>
    <p>
        Przyjęty w dniu:
    </p>
    <p th:text="${animal.timeArrived+''}"/>
    <span>
            <label for="date">został przekazany dnia:</label>
            <input class="form-control" id="date" name="date" type="date" autocomplete="off"/>
            <br/>
        </span>
        <div style="margin-top: 25px">
            <label>
                do ośrodka:
            </label>
            <select class="form-control" id="rehab" th:field="*{dischargedTo}">
                <option th:each="rehabCenter : ${rehabCenters}" th:text="${rehabCenter.name}"
                        th:value="${rehabCenter.rehabCenterId}">
                </option>
            </select>
        </div>
    <br/>
    <br/>
    <div class="form-group" th:field="*{additionalInfo}">
        <textarea class="form-control" style="width: 500px" rows="2" id="additionalInfo" placeholder="Tutaj wpisz dodatkowe informacje" th:field="*{additionalInfo}"></textarea>
    </div>
        <div>
            <button type="submit" class="btn btn-default" style="width: 500px; margin-top: 25px; font-weight: bold">
                Zatwierdź
            </button>
        </div>
</form>
</body>
</html>