<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:default="http://www.w3.org/1999/xhtml"
      xmlns:checked="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Lista zwierzat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 45px; alignment: left"/>
        <div class="navbar-header">
            <a class="navbar-brand" href="/ratujmy_ptaki" >Ratujmy Ptaki</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/manage}">Zarządzanie</a></li>
            <li class="active"><a th:href="@{/list_animals}">Zwierzęta</a></li>
            <li><a th:href="@{/vet_visits}">Wizyty weterynaryjne</a></li>
            <li><a th:href="@{/vet_list}">Weterynarze</a></li>
            <li><a th:href="@{/rehab_center_list}">Ośrodki</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-default">Wyloguj</button>
        </form>
    </div>
</nav>
<form th:action="@{list_animals.html}" method="post" th:object="${searchFormModel}">
    <div class="checkbox" style="text-align: center">
        <button type="submit" class="btn btn-default">Pokaż</button>
        <label><input type="checkbox" th:field="*{current}"/>Tylko przebywające w ośrodku (możliwa edycja)</label>
    </div>
</form>

<div class="container" align="center">
    <table class="table">
        <thead align="center">
        <th></th>
        <th style="text-align: center">lp.</th>
        <th style="text-align: center">Nazwa polska</th>
        <th style="text-align: center">Nazwa łacińska</th>
        <th style="text-align: center">Zwierzę dorosłe</th>
        <th style="text-align: center">Data Przyjęcia</th>
        <th style="text-align: center">Miejsce Podjęcia</th>
        <th style="text-align: center" th:unless="${current}">Wypisany</th>
        <th style="text-align: center" th:if="${current}">Akcja</th>
        <th style="text-align: center">Wizyty weterynaryjne</th>
        <th style="text-align: center">Informacje dodatkowe</th>

        </thead>
        <tbody align="center">
        <tr th:each="animal : ${list}">
            <td><a th:href="@{/modifyAnimal/{animalId}(animalId=${animal.animalId})}">edytuj <br/> wpis</a></td>
            <td th:text="${animal.animalId}"></td>
            <td th:text="${animal.kind.kindPolish}"></td>
            <td th:text="${animal.kind.kindLatin}"></td>
            <td>
                <p th:if="${animal.ifAdult}" th:text="${'dorosły'}"/>
                <p th:unless="${animal.ifAdult}" th:text="${'młodociany'}"/>
            </td>
            <td th:text="${animal.timeArrived +''}"></td>
            <td th:text="${#strings.capitalize(animal.location.name)}"></td>
            <td th:unless="${animal.dischargedTo==null}"
                th:text="${animal.timeDischarged + ', przekazany do: ' + animal.dischargedTo.name}"></td>
            <td th:unless="${animal.ifReleased==false}" th:text="${animal.timeDischarged + ', wypuszczony'}"></td>
            <td th:unless="${animal.ifDeceased==false}" th:text="${animal.timeDischarged + ', padł'}"></td>
            <td style="color:red" th:if="${current == false and animal.timeDischarged == null}"
                th:text="${'nadal przebywa w ośrodku'}"></td>
            <td th:if="${current}">
                <a class="btn btn-default" style="width: 115px"
                   th:href="@{/release/{animalId}(animalId=${animal.animalId})}">wypuszczono</a>
                <a class="btn btn-default" style="width: 50px"
                   th:href="@{/deceased/{animalId}(animalId=${animal.animalId})}">padł</a><br/>
                <a class="btn btn-default" style="width: 170px"
                   th:href="@{/discharged_to/{animalId}(animalId=${animal.animalId})}">przekazano do ośr.</a></td>
            <td><a class="btn btn-default" style="width: 150px"
                   th:href="@{/vet_visits_by_animal/{animalId}(animalId=${animal.animalId})}">Lista wizyt</a><br/>
                <a class="btn btn-default" style="width: 150px" th:if="${current}"
                   th:href="@{/add_visit_by_animal/{animalId}(animalId=${animal.animalId})}">dodaj wizytę</a></td>
            <td th:text="${animal.additionalInfo}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="text-align: center">
    <ul class="pagination" style="text-align: center">
        <li><a th:href="@{/list_animals(page=0)}">&#x227A;&#x227A;</a></li>
        <li>
            <a th:href="@{/list_animals(page=${list.hasPrevious() ? list.previousPageable().pageNumber : 0})}">&#x227A;</a>
        </li>
        <li><a th:text="|${list.number + 1} z ${list.getTotalPages()}|"></a></li>
        <li>
            <a th:href="@{/list_animals(page=${list.hasNext() ? list.nextPageable().pageNumber : list.getTotalPages() - 1})}">&#x227B;</a>
        </li>
        <li><a th:href="@{/list_animals(page=${list.getTotalPages() - 1})}">&#x227B;&#x227B;</a></li>
    </ul>
</div>
</body>
</html>