<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <style>
        .primaryButtons {
            height: 200px;
            width: 300px;
            margin: 20px;
            font-size: 22px;
            vertical-align: middle;
            color: dimgray;
            background-color: whitesmoke;
        }
    </style>
    <title>Ratujmy Ptaki</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 45px; alignment: left"/>
        <div class="navbar-header">
            <a class="navbar-brand" href="/ratujmy_ptaki" >Ratujmy Ptaki</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/manage}">Zarządzanie</a></li>
            <li><a th:href="@{/list_animals}">Zwierzęta</a></li>
            <li><a th:href="@{/vet_visits}">Wizyty weterynaryjne</a></li>
            <li><a th:href="@{/vet_list}">Weterynarze</a></li>
            <li><a th:href="@{/rehab_center_list}">Ośrodki</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-default">Wyloguj</button>
        </form>
    </div>
</nav>
<div style="text-align: center">
    <a class="btn btn-default primaryButtons" th:href="@{/new_animal}"><br/><br/>Dodaj<br/>Zwierzę</a>
    <button type="button" class="btn btn-default primaryButtons">Modyfikuj<br/>Dane<br/>Zwierzęcia</button> <br/>
    <button type="button" class="btn btn-default primaryButtons">Dodaj lub zmień<br/>Inne dane<br/></button>
    <button type="button" class="btn btn-default primaryButtons">Raport <br/> Roczny</button><br/>
</div>
</body>
</html>