<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj zwierzę</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>


</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 45px; alignment: left"/>
        <div class="navbar-header">
            <a class="navbar-brand" href="/ratujmy_ptaki">Ratujmy Ptaki</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/manage}">Zarządzanie</a></li>
            <li><a th:href="@{/list_animals}">Zwierzęta</a></li>
            <li><a th:href="@{/vet_visits}">Wizyty weterynaryjne</a></li>
            <li><a th:href="@{/vet_list}">Weterynarze</a></li>
            <li><a th:href="@{/rehab_center_list}">Ośrodki</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-default">Wyloguj</button>
        </form>
    </div>
</nav>
<form class="form-inline" th:action="@{/new_animal}" method="post" th:object="${newAnimal}" style="text-align: left">
    <table>
        <tr style="height: 50px">
            <td style="width: 200px">
                <label class="form-group" for="kind">Gatunek:</label>
            </td>
            <td>
                <select class="form-control" id="kind" th:field="*{kindId}">
                    <option th:each="kind : ${kinds}" th:text="${kind.kindPolish}" th:value="${kind.kindId}">1</option>
                </select>
            </td>
        </tr>
        <tr style="height: 50px">
            <td style="width: 200px">
                <label class="form-group" for="location">Skąd przywieziony:</label>
            </td>
            <td>
                <input class="form-control" id="location" style="width: 220px" placeholder="Wpisz nazwę miejscowości"
                       th:field="*{location.name}"></input>
            </td>
            <td>
            </td>
        </tr>
        <tr style="height: 50px">
            <td>
                <label for="date">Kiedy przywieziony:</label>
            </td>
            <td>
                <input class="form-control" id="date" name="date" type="date" autocomplete="off"/>
            </td>
        </tr>
        <tr style="height: 50px">
            <td>
                <label for="ifAdult">Dorosły:</label>
            </td>
            <td>
                <div class="checkbox" th:field="*{ifAdult}">
                    <input type="checkbox" id="ifAdult" name="ifAdult" checked="checked"/></div>
            </td>
        </tr>
    </table>
    <div class="form-group" th:field="*{additionalInfo}">
        <textarea class="form-control" style="width: 475px" rows="5" id="additionalInfo"
                  placeholder="Tutaj wpisz dodatkowe informacje" th:field="*{additionalInfo}"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-default"
                style="height: 75px; width: 475px; margin-top: 25px; font-weight: bold">
            Dodaj
        </button>
    </div>
</form>

</body>
</html>