<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="refresh" content="2; URL=/login_form"/>
    <meta name="keywords" content="automatic redirection"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <title>Ratujmy Ptaki</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 45px; alignment: left"/>
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/ratujmy_ptaki}" >Ratujmy Ptaki</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a>Zarządzanie</a></li>
            <li><a>Zwierzęta</a></li>
            <li><a>Wizyty weterynaryjne</a></li>
            <li><a>Weterynarze</a></li>
            <li><a>Ośrodki</a></li>
        </ul>
    </div>
</nav>
<div style="text-align: center">
    <img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 450px; alignment: left"/><br/>
    <p>Witamy w programie zarządzającym danymi fundacji "Ratujmy Ptaki"</p><br/>
    <p style="alignment: bottom">&copy; 2018, pwcyga@gmail.com</p>
</div>
</body>
</html>