<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Discharge/Add visit</title>
    <meta charset="UTF-8"/>
    <title>Lista zwierzat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .primaryButtons {
            height: 100px;
            width: 300px;
            margin: 20px;
            font-size: 22px;
            vertical-align: middle;
            color: dimgray;
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 45px; alignment: left"/>
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/ratujmy_ptaki}" >Ratujmy Ptaki</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/manage}">Zarządzanie</a></li>
            <li><a th:href="@{/list_animals}">Zwierzęta</a></li>
            <li><a th:href="@{/vet_visits}">Wizyty weterynaryjne</a></li>
            <li><a th:href="@{/vet_list}">Weterynarze</a></li>
            <li><a th:href="@{/rehab_center_list}">Ośrodki</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-default">Wyloguj</button>
        </form>
    </div>
</nav>
<div style="text-align: center" class="container" th:object="${animal}">
<label>Co się stało z: </label> <p th:text="${animal.kind.kindPolish}"/><label>Przyjęty w dniu: </label> <p th:text="${animal.timeArrived}"/>
    <a class="btn btn-default primaryButtons" th:href="@{/release/{animalId}(animalId=${animal.animalId})}"><br/>Wypuszczony</a>
    <a class="btn btn-default primaryButtons" th:href="@{/deceased/{animalId}(animalId=${animal.animalId})}"><br/>Padł</a><br/>
    <a class="btn btn-default primaryButtons" th:href="@{/discharged_to/{animalId}(animalId=${animal.animalId})}"><br/>Przekazany</a>
    <a class="btn btn-default primaryButtons" th:href="@{/new_animal}"><br/>Leczony</a>


</div>

</body>
</html>