<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Lista gabinetów</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <img th:src="@{/img/swift_ico.svg}" alt="Ratujmy Ptaki" style="width: 45px; alignment: left"/>
        <div class="navbar-header">
            <a class="navbar-brand" href="/ratujmy_ptaki" >Ratujmy Ptaki</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/manage}">Zarządzanie</a></li>
            <li><a th:href="@{/list_animals}">Zwierzęta</a></li>
            <li><a th:href="@{/vet_visits}">Wizyty weterynaryjne</a></li>
            <li class="active"><a th:href="@{/vet_list}">Weterynarze</a></li>
            <li><a th:href="@{/rehab_center_list}">Ośrodki</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-default">Wyloguj</button>
        </form>
    </div>
</nav>
<div style="text-align: center">
<a class="btn btn-default" th:href="@{/add_vet}">Dodaj gabinet</a>
</div>
<div class="container">
    <table class="table">
        <thead>
        <th>lp.</th>
        <th>Nazwa gabinetu</th>
        <th>Dane gabinetu</th>
        </thead>
        <tbody>
        <tr th:each="veterinarian : ${list}">
            <td th:text="${veterinarian.vetId}"></td>
            <td th:text="${veterinarian.name}"></td>
            <td th:text="${veterinarian.fullData}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>